<!--preloader-->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<header class="main_header">
    <div class="row">
        <div class="content">
            <a class="logo" href="#"><img src="img/signature.png" alt="" /></a>
            <div class="mobile-toggle"> <span></span> <span></span> <span></span></div>
            <nav>
                <ul class="main_menu">
                    <li><a href=".hero">主頁</a></li>
                    <li><a href=".service_area">服務</a></li>
                    <li><a href=".skill_area">簡歷與技能</a></li>
                    <li><a href=".project_area">專案與系統</a></li>
                    <li><a href=".portfolio_area">檢定、證照與培訓</a></li>
                    <li><a href=".testimonial_area">相關發表</a></li>
                    <li><a href=".blog_area">部落格</a></li>
                    <li><a href=".contact_area">聯繫方式</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END row -->
</header>

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="2000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Wrapper for slides -->

    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero" style="width:100%;height:100%;">
                <div class="hero">
                    <hgroup style='font-size: 50%;'>
                        <h1>窮理致知</h1>
                    </hgroup>

                </div>
                <a href="#" class="abgne_gotoheader1">
                    <div class="div_right_bottom">
                        <i class="fa fa-angle-double-down" aria-hidden="true" style="font-size:300%"></i>
                    </div>
                </a>
            </div>
        </div>

        <!-- 如果要第二頁的話 -->
        <!--
          <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
              <hgroup>
                  <h1>We are <span>smart</span></h1>
                  <h3>Get start your next awesome project</h3>
              </hgroup>
              <button class="btn btn-hero btn-lg" role="button">See all features</button>
            </div>
          </div>
          <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
              <hgroup>
                  <h1>We are <span>amazing</span></h1>
                  <h3>Get start your next awesome project</h3>
              </hgroup>
              <button class="btn btn-hero btn-lg" role="button">See all features</button>
            </div>
          </div>
        -->
    </div>
</div>

<div id="service-area" class="service_area">
    <div class="container">
        <div class="row">
            <div class="service_section wow bounceInLeft animated">
                <div class="col-md-3">
                    <div class="single_service">
                        <div class="ico"><i class="fa fa-mobile"></i></div>
                        <h2>待新增</h2>
                        <p>...</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="single_service">
                        <div class="ico"><a href="https://cv04356015.shinyapps.io/SASLogMonitor/" target="_blank"><i class="fa fa-mobile"></i></a></div>
                        <h2>待新增</h2>
                        <p>...</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="single_service">
                        <div class="ico"><a href="https://github.com/darkcloud719" target="_blank"><i class="fa fa-github-square fa_custom"></i></a></div>
                        <h2>Github </h2>
                        <p>部分開源專案儲存。</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="single_service">
                        <div class="ico"><a href="https://www.linkedin.com/in/nick-chang-3413a1147/" target="_blank"><i class="fa fa-linkedin-square fa_custom"></i></a></div>
                        <h2>LinkedIn</h2>
                        <p>LinkedIn。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- service area end   -->

<!-- work area end   -->
<!--  getit area end -->

<div class="skill_area">
    <div class="container">
        <div class="row">
            <div class="skill_section">
                <div class="col-md-8">
                    <h2 class="wow bounceInLeft animated"><span>簡歷與技能</span></h2>
                    <!--<p class="skill_text wow bounceInLeft animated">您好，我是張勝淮，我是一位對學習樂此不疲的人，對資訊科技相關技能都抱有熱忱與好奇心，大學主修資訊管理學系，除系上正課外，時常去旁聽資工系、電機系的課程以補充多方面的知識(ex.作業系統、演算法、物件導向)研究所期間與指導教授接產學合作，與廠商資訊人員溝通、合作共同開發公司的內部ERP系統，課餘時間看國內外開放式課程。碩士二上期間因所上課程已修完，於是回台北寫論文與找企業實習，經由趨勢科技面試後，成為Intern，我所待的團隊為入侵防禦系統(IPS)開發的團隊，我的工作主要負責為測試，在Client端與Server端中，由IPS做man-in-the-middle，我的工作主要以python編寫tool，在不同瀏覽器中(ex. Chrome、 firefox、 Edge、 Safari..)測試Clinet端與熱門百萬網站是否能正常連線和確保IPS在Client端與Server端擔任第三方進行key change後能正常被解碼，在實習期間補足了資訊安全、密碼學的相關知識，實習中期改為進行系統的安全測試與Hadoop維護，當中會進行滲透測試確保系統是安全無疑，使用工具(ex. linux Kali、 wireshark、 Nmap)等進行暴力破解、封包解析。另一方面維護分散式搜尋系統(elasticsearch)，經由有限主機將資料平均分散，已達到最佳化，發生系統trouble進行疑難排解並找到route cause。實習後期負責幫忙開發系統進行伺服器監控與分析，使用工具(ex. icinga2、 Grafana)確保我們的伺服器在硬碟、記憶體不足或cpu使用率異常飆高時發出警訊以求排解。
                    -->
                    <p class="skill_text wow bounceInLeft animated">
                        I  graduated  from  Chung-Cheng  University  with  master  of  Information  and  Management.  I  am  from  a  family  which  is  composed  of  four  members:  my  parents,  my  older  sister  and  I.  My  father  has  been  retired  for  5  years.  My  mother  was  working  in  the  service  industry.  My  older  sister  was  an  accountant.  My  parents  hope  we  could  be  independent  and  self-direct  learning.  I  am  fair  and  honest.  I  am  interested  in  reading  and  exploring  very  much.  I  am  full  of  curiosity  and  have  a  hunger  for  knowledge.  When  a  doubt  generates    in  my  mind,  I  will  try  to  get  a  solution  by  following  the  logic  to  seek  answers,  and  because  of  this  interest,  I  am  willing  to  be  self-taught  and  enjoy  sharing  my  experiences  with  my  friends.  In  this  way,  I  can  get  some  knowledge  that  you  may  never  think  about.  When  I  invested  time  in  doing  something,  I  will  first  try  to  come  up  with  the  best  and  fastest  plan  before  I  started  to  do  it.  I  firmly  believe  that  deep  and  careful  thinking,  having  a  clear  direction  will  make  plan    efficient  and  effective.

                        When  I  was  during  the  school  period,  my  father  was  suffering  from  cancer.  I  was  faced  with  economic  problems.  Therefore,  I  have  to  work  after  school.  Fortunately,  with  the  assistance  of  the  school,  I  applied  for  a  scholarship  and  completed  my  studies.  Despite  facing  a  lot  of  difficulties  and  high  walls  at  the  stage  of  my  life,  I  will  get  over  it.  I  am  a  man  who  never  give  up.  When  I  was  a  child,  I  was  inspired  by  news  and  media.  Information  Technology  makes  me  fascinated.  I  like  computers,  I  hope  that  one  day  I  can  be  an  engineer.  I  am  happy  to  take  up  challenges,  and  often  remind  myself  of  the  importance  of  learning  enthusiasm.  Learning  new  things  with  curiosity,  openness,  and  humility.  I  also  like  to  watch  the  open  courses  in  my  free  time.  It  enriches  my  mind  with  knowledge.

                        During  the  period  of  the  research  institute,  I  was  an  internship  in  trendmicro,  It  makes  me  early  familiar  with  the  employment  environment.  Because  of  this  opportunity,  I  learned  how  to  make  test  procedure  and  routine  tasks  fully  automatic,  and  reducing  workloads,  speeding  up  the  development  process.  On  the  other  hand,  It  gave  me  a  lesson  of  information  security  threats  and  issues  behind  information  technology,  strengthening  my  security  awareness,  development  &  test  ability.  In  addition,  the  biggest  gain  is  learning  from  good  communication  and  interaction,  it  can  enhance  team  harmony  and  promote  the  cohesion,  which  helps  team  members  to  grasp  their  own  work.  After  graduating  from  Chung-Cheng  University  this  year,  I  become  a  fresh  graduate.  I  hope  I  can  use  my  speciality  in  workplace,  and  expect  to  advance  my  expertise,  I  will  keep  curiosity  and  become  a  constant  learner.
                        <h2 class="wow bounceInLeft animated"><span>工作內容與經驗</span></h2>
                    <p class="skill_text wow bounceInLeft animated">
                        Web(.net core 3.1)、App(Android by kotlin&java)開發
                        <br /> 
                        <main>
                            <h2 id="skills wow bounceInRight animated">&nbsp</h2>
                            <div class="section skills">
                                <div id="skillset" class="column"> </div>
                            </div>
                        </main>
                </div>
                <h2><span> 簡歷選單 </span></h2>
                <div class="col-md-4">
                    <img src="img/me.jpg" width="250" height="250">
                    <hr />
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a id="birthday_btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        生日
                                    </a>
                                </h4>
                            </div>
                            <div id="birthday_content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul class="intro-panel-margin" align="left">
                                        <li>1993 年 7 月 19 日</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a id="education_btn" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        學歷
                                    </a>
                                </h4>
                            </div>
                            <div id="education_content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul class="intro-panel-margin" align="left">
                                        <li>國立中正大學 資訊管理研究所碩士(2015/09/01~2018/01/30)</li>
                                        <li>中國文化大學 資訊管理學系學士 (2011/09/01~2015/06/30)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a id="experience_btn" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        工作經歷
                                    </a>
                                </h4>
                            </div>
                            <div id="experience_content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <ul class="intro-panel-margin" align="left">
                                        <li>Quanta-廣達電腦 Software Engineer (2018/06/13~Now)</li>
                                        <li>Trend Micro Taiwan-趨勢科技 Intern (2017/02/13~2017/09/30)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a id="tutor_btn" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        助理/教學經驗
                                    </a>
                                </h4>
                            </div>
                            <div id="tutor_content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <ul class="intro-panel-margin" align="left">
                                        <li>國立中正大學 大學部-畢業專案(Iot開發) (2015~2016)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a id="developmenttool_btn" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        主要程式開發工具
                                    </a>
                                </h4>
                            </div>
                            <div id="developmenttool_content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <ul class="intro-panel-margin" align="left">
                                        <li>主要程式：C#、Kotlin、C、C++、Python、Java</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a id="systemmanagement_btn" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        系統管理
                                    </a>
                                </h4>
                            </div>
                            <div id="systemmanagement_content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <ul class="intro-panel-margin" align="left">
                                        <li>伺服器管理：Windows Server、CentOS、Fedora、Ubuntu、Raspberry pi</li>
                                        <li>監控系統管理:Icinga2、Nagios、Zabbix</li>
                                        <li>分析平台管理:Grafana</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven">
                                <h4 class="panel-title">
                                    <a id="others_btn" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        其他工具
                                    </a>
                                </h4>
                            </div>
                            <div id="others_content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="panel-body">
                                    <ul class="intro-panel-margin" align="left">
                                        <li>Iot物連網：Arduino、Raspberry pi</li>
                                        <li>滲透測試：Linux kali、Wireshark、Nessus</li>
                                        <li>資料庫管理：Mysql、Nicrosoft SQL Server、Sqlite3、Influxdb、Elasticsearch</li>
                                        <li>雲端服務：Microsoft Azure、Heroku、Google Cloud Platform</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<!--
<div class="getit_area">
  <div class="container">
    <div class="row">
      <div class="getit_section">
        <h1>The most impressive template you'll find.Get it now!</h1>
      </div>
    </div>
  </div>
</div>
-->
<!-- skill area end-->
<div class="project_area">
    <div class="portfolio_section">
        <h1>&nbsp</h1>
        <h1>專案與系統</h1>
    </div>
</div>

<main class="ui page grid">
    <div id="achievement_div" class="row">
        <div class="column">
            <div class="ui divider"></div>
            <div id="achievement_list" class="ui three stackable cards"></div>
        </div>
    </div>
    <div id="modal" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header"></div>
        <div class="content"></div>
        <div class="doubling stackable three column ui medium image grid container"></div>
    </div>
</main>

<div class="portfolio_area">
    <div class="container">
        <div class="portfolio_section">
            <div class="col-md-12 portfolio_top">
                <h1>&nbsp</h1>
                <h1>檢定、證照與培訓</h1>
                <p>因本人興趣、學校培訓與相關業務需求，取得了一些相關證明。</p>
                <p>&nbsp</p>
            </div>
        </div>

        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="qc da dm sas">全部</span></li>
            <li><span class="filter" data-filter="qc">畢業證書</span></li>
            <li><span class="filter" data-filter="da">認證</span></li>
            <li><span class="filter" data-filter="dm">碩士成績單</span></li>
            <li><span class="filter" data-filter="sas">學士成績單</span></li>
        </ul>

        <div id="portfoliolist">

            <div class="portfolio qc" data-cat="qc">
                <div class="portfolio-wrapper">
                    <img src="img/portfolios/qc/1.jpg" alt="" />
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">國立中正大學</a>
                            <span class="text-category">資訊管理研究所碩士</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>

            <div class="portfolio qc" data-cat="qc">
                <div class="portfolio-wrapper">
                    <img src="img/portfolios/qc/2.jpg" alt="" />
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">中國文化大學</a>
                            <span class="text-category">資訊管理學系學士</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>



            <div class="portfolio da" data-cat="da">
                <div class="portfolio-wrapper">
                    <img src="img/portfolios/da/1.jpg" alt="" />
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">國立中正大學</a>
                            <span class="text-category">教學助理</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>
            <div class="portfolio da" data-cat="da">
                <div class="portfolio-wrapper">
                    <img src="img/portfolios/da/2.jpg" alt="" />
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">旗標科技股份有限公司<</a>
                            <span class="text-category">Iot 研習證明</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>


            <div class="portfolio dm" data-cat="dm">
                <div class="portfolio-wrapper">
                    <img src="img/portfolios/dm/1.jpg" alt="" />
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">國立中正大學</a>
                            <span class="text-category">成績單</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>

            <div class="portfolio dm" data-cat="dm">
                <div class="portfolio-wrapper">
                    <img src="img/portfolios/dm/2.jpg" alt="" />
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">國立中正大學</a>
                            <span class="text-category">成績單</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>



            <div class="portfolio sas" data-cat="sas">
                <div class="portfolio-wrapper">
                    <img src="img/portfolios/sas/1.jpg" alt="" />
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">中國文化大學</a>
                            <span class="text-category">成績單</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>

            <div class="portfolio sas" data-cat="sas">
                <div class="portfolio-wrapper">
                    <img src="img/portfolios/sas/1.jpg" alt="" />
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">中國文化大學</a>
                            <span class="text-category">成績單</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- portfolio area end   -->
</div>
              </div>

      </div>
    </div>
  </div>
</div><!-- price area end   -->


<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="testimonial_section">
                <h1><span>相關發表</span></h1>
                <div id="testimonial_carosule" class="owl-carousel owl-theme">
                    <div class="item">
                        <blockquote>
                            <img src="img/tm0.jpg">
                            <p>
                                影響手持裝置行動定位擴增實境遊戲使用意圖因素之探討
                            </p>
                            <p>
                                <font size="2">
                                    本研究根據行動定位擴增實境遊戲之特色，提出可能影響玩家遊玩之因素。
                                    <a href="https://ndltd.ncl.edu.tw/cgi-bin/gs32/gsweb.cgi/ccd=I1iO.Y/record?r1=1&h1=0">-台灣博碩士論文知識加值系統</a>
                                </font>
                            </p>
                        </blockquote>
                        <h3>--畢業碩士論文--</h3>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="contact_section">

                <h1>聯繫方式</h1>
                <p>如您有任何建議，可透過下列管道與我聯絡，您可以透過以下表單系統自動為您寄信：</p>

                <div class="col-md-6">
                    <div class="contact_form">
                        <fieldset id="contact_form">
                            <form action="https://formspree.io/cv04356015@gmail.com" method="POST">
                                <div id="result"></div>
                                <label for="name">
                                    <input type="text" name="name" id="name" placeholder="如何稱呼您？" />
                                </label>

                                <label for="email">
                                    <input type="email" name="email" id="email" placeholder="輸入您的E-mail以便我能夠回覆您" />
                                </label>

                                <label for="phone">
                                    <input type="text" name="phone" id="phone" placeholder="電話號碼或其他聯絡方式" />
                                </label>

                                <label for="message">
                                    <textarea name="message" id="message" placeholder="請輸入欲留下的訊息"></textarea>
                                </label>
                                <button class="submit_btn" id="submit_btn">送出</button>
                                </label>
                            </form>
                        </fieldset>
                    </div>
                </div>
                <!--
                                <div class="col-md-6">
                                    <div class="contact_form">
                             <form action="https://formspree.io/cv04356015@gmail.com" method="POST">
                              <input type="text" name="name">
                              <input type="email" name="_replyto">
                              <input type="submit" value="Send">
                            </form>

                        </div>
                                </div>
                -->
<!--
                <div class="col-md-6">
                    <div class="contact_text">
                        <!--
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                          
                        <h3><i><b>關於我</b></i></h3>
                        <ul class="contact_info">
                            <li align="left"><i><b>姓名......</b></i></li>
                            <li>張勝淮(Sheng-Huai Chang)</li>
                            <li align="left"><i><b>電子郵件......</b></i></li>
                            <li>darkcloud71962@gmail.com</li>
                            <li align="left"><i><b>位置......</b></i></li>
                            <li>新北市蘆洲區</li>
                        </ul>
                        <h3><i><b>追蹤我</b></i></h3>
                        <ul class="contact_social">
                            <a href="#"><li><i class="fb fa fa-facebook-square"></i></li></a>
                            <a href="https://www.linkedin.com/in/sheng-huai-chang-3413a1147/"><li><i class="tw fa fa-linkedin-square"></i></li></a>
                            <a href="https://github.com/darkcloud719"><li><i class="rss fa fa-github-square"></i></li></a>
                            <a href="#"><li><i class="gp fa fa-google-plus-square"></i></li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

